name: Test Docker image

on:
  pull_request:
    paths:
      - "Dockerfile"
      - '.github/workflows/test-docker.yml'

  push:
    branches: [ 'main' ]
    tags-ignore: [ '*' ]
    paths:
      - "Dockerfile"
      - '.github/workflows/test-docker.yml'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and load to Docker
        uses: docker/build-push-action@v4
        with:
          context: .
          load: true
          tags: ghcr.io/cargo-lambda/cargo-lambda:test

      - name: Test Docker image
        run: |
          docker run --rm ghcr.io/cargo-lambda/cargo-lambda:test
