name: Test documentation

on:
  pull_request:
    paths:
      - 'docs/**'
      - '.github/workflows/test-docs.yml'

  push:
    branches: [ 'main' ]
    tags-ignore: [ '*' ]
    paths:
      - 'docs/**'
      - '.github/workflows/test-docs.yml'

jobs:
  test-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: pnpm/action-setup@v2
        with:
          version: 10.7.0
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'pnpm'
          cache-dependency-path: docs/pnpm-lock.yaml
      - name: Build docs
        working-directory: docs
        run: |
          pnpm install --frozen-lockfile
          pnpm run docs:build
